<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div id=app>
        <div class="card" v-for="(car, index) in offersList" :style="{ color: car.color }" :key="index">
            <img :src="car.img">
            <h1>{{car.title}}</h1>
            <p class="price">U$ {{car.price}}</p>
            <p>{{car.description}}</p>
        </div>

        <div class="card" v-for="(car, index) in offersList" :style="carColor" :key="index">
            <img :src="car.img">
            <h1>{{car.title}}</h1>
            <p class="price">U$ {{car.price}}</p>
            <p>{{car.description}}</p>
        </div>
    </div>

    <script src="./index.js"></script>
</body>
</html>